body, html {
	height: 100%;
}

body {
	background-color: silver;
	position: relative;
	/*padding-top: 130px;     helpfull in responsive style*/

}

.parallax1 {

	margin-bottom: 0px;

	background-image: url("assets/images/img1.jpg");

	height: 700px;

	/* Create the parallax scrolling effect */

	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
	background-image: url("assets/images/img2.jpg");

	height: 700px;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax3 {
	background-image: url("assets/images/img3.png");

	height: 470px;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ph {
	/*margin: 5px;*/
	padding: 2px;
	opacity: 0.7;
}

.ph:hover {
	opacity: 1.0;
}

.f p {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.f p span {
	/*display: block;*/
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.f i {
	/*background-color:  #33383b;*/
	/*color: #ffffff;*/
	font-size: 20px;
	width: 35px;
	height: 35px;
	/*border-radius: 50%;*/
	text-align: center;
	line-height: 40px;
	margin: 5px 5px;
	vertical-align: middle;
}